<style>
    #footer a {
        color: #bdbdbd;
    }
</style>
 <footer id="footer" style="padding-left:50px; background: #3c4043 !important;position: relative; bottom:0; width:100%;">
    <br />
    <div class="row">
        <div class="col-md-3">
            <div class="widget1">
                <h5 class="widgetheading">Our Contact</h5>
                <address>Denver Phone (303) 809-7566 </address>
                <i class="icon-phone"></i> <br>
                <i class="icon-envelope-alt"></i> admin AT @geospaces.org
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget">
                <h5 class="widgetheading">Quick Links</h5>
                <ul class="link-list">
                    <li><a href="/geospaces/geospaces/terms.html">Terms and conditions</a>
                    </li>
                    <li><a href="/geospaces/geospaces/privacy.html">Privacy policy</a></li>
                    <li><a href="/geospaces/geospaces/contact.html">Contact us</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget">
                <h5 class="widgetheading">Latest posts</h5>
                <ul class="link-list">
                    <li><a href="#">TBD</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget">
                <h5 class="widgetheading">Recent News</h5>
                <ul class="link-list">
                    <li><a target="new" href="/static/docs/geospaces.pdf">Catalog</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br/>
    <div id="sub-footer1" style="bbackground: #5c5c5c !important">
                    <div class="copyright">
                        <span>&copy; All right reserved.</span>
                    </div>
    </div>
 </footer>

<script>
    function footerPosition() {
        //if ( $(document).height() < $(window).height() )
        //    $('#footer').css('position', 'absolute')
        //var ft = $('#footer').position().top + $('#footer').height()
        //if ( $('#pagecontent').height() + 150 > $(window).height() ){
        console.log(document.body.clientHeight, $(window).height())
        if ((document.body.clientHeight) < $(window).height()) {
            $('#footer').css('position', 'fixed')
        } else {
            $('#footer').css('position', 'relative')
        }

    }
    $(document).ready(
        //footerPosition
    );
</script>