{% extends "common.html" %}
{% block content %}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
    <h1>&nbsp; </h1>
        <H1>
            <center> Geospaces AI Solutions</center>
        </H1>
        <br />
        <br />
        <h4 style="text-align: center;">
            Geospaces is focused on supporting organizations and help them to create economic opportunity and
            strengthening
            products embedding AI in all their products.
        </h4>

        <br />
        <br />

        <H4>Media Analysis</H4>
        <br />

                    <img src="https://cloud.google.com/images/natural-language/powerful-text-analysis_2x.png"
                        width=140px align=right valign=top />

                    Audio and Video services.
                    <!--
   <a href="/maudio/audio.html"> Accountics </a> |
   <a href="/mvideo/video.html"> Computer Vision </a>
  -->

                    Meeting transcription, video indexing, and speech-to-text conversion.
        <br />
        <br />


        <H4>Root Cause Analysis</H4>
        <br />


                Companies today use everything from simple spreadsheets to complex financial planning software to
                attempt to accurately
                forecast future business outcomes such as product demand, resource needs, or financial performance.
                These tools build
                forecasts by looking at a historical series of data, which is called time series data. For example,
                such tools may try
                to predict the future sales of a raincoat by looking only at its previous sales data with the
                underlying assumption that
                the future is determined by the past. This approach can struggle to produce accurate forecasts for
                large sets of data
                that have irregular trends. Also, it fails to easily combine data series that change over time (such
                as price,
                discounts, web traffic, and number of employees) with relevant independent variables like product
                features and store
                locations.
                <img src="https://cloud.google.com/images/natural-language/powerful-text-analysis_2x.png" width=140px
                    align=left valign=top />

        <br />
        <br />
        <br />


        <H4>Natural Language Document Search</H4>
        <br />

                <img src="https://cloud.google.com/images/natural-language/automl-works.svg" width=540px align=left
                    valign=top />

                There is a treasure trove of potential sitting in your unstructured data. Customer emails, support
                tickets, product reviews, social media, even advertising copy represents insights into customer
                sentiment that can be put to work for your business. The question is how to get at it? As it turns
                out, Machine learning is particularly good at accurately identifying specific items of interest
                inside vast swathes of text (such as finding company names in analyst reports), and can learn the
                sentiment hidden inside language (identifying negative reviews, or positive customer interactions
                with customer service agents), at almost limitless scale.

        <br />
        <H4>Sequence Analyzer</H4>
        <br />


                <img src="https://cloud.google.com/images/products/ai/ai-hub_2x.png" width=140px align=left
                    valign=top />
                Put AI to automate sequnce analysis for your time series data set, detect the logical models,
                uncover new patterns of system behavior, and identify issues early.
                Our framework offers a drop in solutions and prevent expensive service disruptions. Our solutions cn
                minimize the cost, duration, and impact of system problems that affect employees, customers, and
                services.

                <p>

                    <li>Gain full visibility into your AWS application code performance with end-to-end tracing,
                        profiling, and App Analytics </li>
                    <li>Identify critical issues quickly with real-time service maps and alerts on code-level +
                        service-level performance issues</li>
                    <li>Test hypotheses in seconds by overlaying events onto time-synchronized graphs</li>

                </p>
                <br />
                <br />
                <br />


        <br />
        <br />

    </div>
</section>

{% include "geospaces/footer.html" %}

{% endblock %}