<style>
.hoverdiv{
    padding: 10px;
    background-color: #fafafa;
    border-radius: 12px;
    height: 100%;

}    
.hoverdiv:hover {
    background-color: aliceblue;
}    
</style>

<a class="navbar-brand" href="/">
    <img src="/static/imgs/logo2.png" width="125vw">
</a>
<span class="our_menu" style="color: #003478 !important;font-weight: 900; font-size: larger; ">  </span>
<span id="common_status" class="" style="width: 50px; text-align:right; display: hidden; white-space: nowrap;"></span>

<ul class="navbar-nav ml-auto mt-2 mt-lg-0">


    
<!--  NEXT ABOUT THE COMPANY -->


<ul class="navbar-nav  mr-auto">
    <li class="nav-item dropdown">
    <a class="nav-item nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" >
    <span class="our_menu">Company</span></a>
    <div  class="changetag dropdown-menu dropdown-menu-right"
            style="z-index:2;width: 900px; border-radius: 5px; padding: 0px; ">

        <div class="row" style="padding: 10; margin: 0;">
            <div class="col-md-6"  style="padding: 5; ">
                <div class="hoverdiv">
                    <br/>
                    <a href="/geospaces/geospaces/aboutus.html/"><h5 ><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Team</h5> </a>
                    <br/>
                    <p>
                        Our team consists of researchers in AI/ML, academia, and practicing data scientists and engineers.
                    </p>
                </div>
            </div>
                    
            <div class="col-md-6"  style="padding: 5; ">
                    <div class="hoverdiv">
                        <br/>
                        <a href="/geospaces/geospaces/aboutus.html/"><h5 ><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;Culture</h5> </a>
                        <br/>
                        <p>
                            Customer service and scientific discoveries. Open honest communications. <br/>
                            Grow with customers, deliver best solutions.
                        </p>
                    </div>
            </div>
        </div>

        <div class="row" style="padding: 5; margin: 0;">
            <div class="col-md-6"  style="padding: 5; ">
                <div class="hoverdiv">
                    <br/>
                    <a href="/geospaces/geospaces/aboutus.html/"><h5 ><i class="fa fa-handshake" aria-hidden="true"></i>&nbsp;Partners</h5> </a>
                    <br/>
                    <p>
                        Our collaborators and employees believe in partnership and co-owned assets. 
                    </p>
                </div>
            </div>
                    
            <div class="col-md-6"  style="padding: 5; ">
                    <div class="hoverdiv">
                        <br/>
                        <a href="/geospaces/geospaces/aboutus.html/"><h5 ><i class="fa fa-lightbulb" aria-hidden="true"></i>&nbsp;Innovation</h5> </a>
                        <br/>
                        <p>
                            Our products deliver innovative solutions.

                            Find out more about our flagship product 
                            <b><a href="/geospaces/geospaces/stream/index.html/"><b>Stream</b></a></b>
                        </p>
                    </div>
            </div>
        </div>



        <div style="padding: 30; margin: 2;background-color:aliceblue;">
            <a href="/geospaces/geospaces/aboutus.html/">
                <h5 >About Geospaces</h5> 
            </a>
            <p>
                Our mission is to organize the world’s information and make it accessible and useful. 
                AI is helping us do that in exciting new ways, solving problems for our users, our customers, and the world. 
                AI is making it easier for people to do things every day, whether it’s searching for photos of loved ones, breaking 
                down language barriers in Google Translate, typing emails on the go, or getting things done with the AI Assistant. 
                AI also provides new ways of looking at existing problems, from rethinking healthcare to advancing scientific discovery.
            </p>
            <p>
                We want to use AI to augment the abilities of people, to enable us to accomplish more and to allow us to spend more time on our creative endeavors.
            </p>            

        </div>

    </div>
</li>
</ul>

<!--  NEXT SOLUTIONS -->

<li class="nav-item mr-4 mb-2 mb-lg-0">
    <a class="nav-link" href="/geospaces/geospaces/solutions.html"  > 
        <span class="our_menu"> &nbsp; Solutions</span></a>
</li>

<!--  NEXT CONTACT -->


<ul class="navbar-nav  mr-auto">
    <li class="nav-item dropdown">
    <a class="nav-item nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" >
    <span class="our_menu">Contact</span></a>
    <div  class="changetag dropdown-menu dropdown-menu-right"
            style="z-index:2;width:400px; border-radius: 5px; padding: 0px; ">

        <div class="row" style="padding: 1; margin: 0;">
            <div class="col-md-2" style="background-color: #fafafa" style="padding: 0; "></div>
            <div class="col-md-8"  style="padding: 0; ">
                    <br/>
                    <h5 ><img loading="lazy" width="22" src="/static/imgs/sales.png" > &nbsp;Connect with Sales</h5> 
                    <br/>
                    <p><a href="/geospaces/geospaces/contact.html/">(303) 748-4333</a><br/>
                        <a href="/geospaces/geospaces/contact.html/">sales@geospaces.org</a></p> 
                    
                    <hr/>


                    <h5 ><img loading="lazy" width="22" src="/static/imgs/activation.png" > &nbsp;Support / Activation</h5> 
                    <br/>
                    <p><a href="/geospaces/geospaces/contact.html/">(303) 809-7566</a><br/>
                        <a href="/geospaces/geospaces/contact.html/">admin@geospaces.org</a></p> 

            </div>
        </div>
    </div>
</li>
</ul>