{% extends "common.html" %}
{% block content %}

<br />
<section id="content">
    <div class="container">
        <center>
            <H3> AI University </H3>
        </center>
        <br/><br/>
        <p>
            This site is a collection of notes, articles, blogs, and other resources on AI, ML, DL, NLP, and related
            topics. <br /></p>
        <p>
            The site is designed to be a collaborative effort, where anyone can contribute to the site.
        </p>
        <p>
            The site is also designed to be a learning tool, where anyone can learn from the site.
        </p>

        <br/>
        <h4>Useful Links</h4>
        <br/>
        <ul>
            <li>
                <a href="https://www.youtube.com/watch?v=u2-8W8gEvCo&list=PLEpvS3HCVQ58at6W2qxGoH8rWBTfNrq99">
                    Build application using Django framework</a>

            </li><br/>
            <li> 
                <a href="https://www.youtube.com/watch?v=aircAruvnKk&list=PLZbbT5o_s2xrwRnXk_yCPtnqqo4_u2YGL" target="_blank">
                    Deep Learning with PyTorch: A 60 Minute Blitz
                </a>

            </li>
        </ul>
    </div>
</section>

{% include "edu/footer.html" %}

<script>
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$(document).ready(function () {
})
</script>
{% endblock %}