{% extends "common.html" %}
{% block content %}

<br />
<section id="content">
    <div class="container" style="line-height: 2.0">
        <center>
            <H3> AI University </H3>
        </center>
        <br/><br/>
        <p>
            This site is a collection of notes, articles, blogs, and other resources on AI, ML, DL, NLP, and related
            topics. It is meant to be educational and provide meaningful content to teach the art of AI and help
            to provide resources for students and instructors.
        </p>
        <p>
            The site is designed to be a collaborative effort, where anyone can contribute to the site.
        </p>
        <p>
            The site is also designed to be a learning tool, where anyone can learn from the site.
        </p>

        <h4>Useful github Links</h4>
        <ul >
            <li>
                <a href="https://www.github.com/sada-narayanappa/LearnDjango.git" target="ext">
                   Django framework (for learning purposes only) </a>
            </li>
        </ul>

        <h4>Useful video Links</h4>
        <ul >
            <li>
                <a href="https://www.youtube.com/watch?v=u2-8W8gEvCo&list=PLEpvS3HCVQ58at6W2qxGoH8rWBTfNrq99">
                    Build application using Django framework</a>
            </li>
            <li> 
                <a href="https://www.youtube.com/watch?v=aircAruvnKk&list=PLZbbT5o_s2xrwRnXk_yCPtnqqo4_u2YGL" target="_blank">
                    Deep Learning with PyTorch: A 60 Minute Blitz
                </a>
            </li>
        </ul>

</div>
</section>

{% include "edu/footer.html" %}

<script>
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$(document).ready(function () {
})
</script>
{% endblock %}