{% extends "common.html" %}
{% block content %}

<div class="center"
     style='font-family: "Google Sans",Arial,Helvetica,sans-serif; padding: 20px; margin: 20px;'>

    <br/>
    <h1>&nbsp;Learn AI, Machine Learning &amp; Data Science</h1>
<a href="/blogs/blogs.html/"><H4>Find resources to learn AI projects</H4></a>
<br/>
<br/>
<br/>
<br/>
</div>
<div class="container" >
    <H4> Index </H4>
</div>
<br/>
{% include "footer.html" %}
<script>
function setbg() {
    var sun = {   "#day" : "sunday",
            "background-image":    'url("/static/media/bgimg1.png")',
            "background-repeat":   'no-repeat',
            "background-position": '0 -400px'
        }
    var styles = [
        {}, {}, {}, {}, {}, {}, {}
    ];
    s = styles[(new Date().getDay() % styles.length)]
    for (k in s){
        if (k.startsWith('#'))
            continue;
        $('body').css(k, s[k])

    }
}
setbg();

</script>
{% endblock %}
