{% extends "common.html" %}
{% block content %}
<script type="text/javascript">mxBasePath = '/static/mxgraph-js/javascript/src'</script>
<script type="text/javascript" src="/static/mxgraph-js/javascript/src/js/mxClient.js"></script>
<!-- -----------------------------------------------------------------------------
    STYLE
------------------------------------------------------------------------------- -->
<style>
.toolbarimg{
    width: 32px;
    padding: 4px;;
}
.tbdiv{
    padding: 10px;
    margin:  10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 6px;;
    text-align: center;
}
.editDiv{
    padding: 4;
    margin:  3px;
    border: 1px solid black;
    background-color:aliceblue;
    border-radius: 3px;;
    text-align: left;
    font-size: smaller;
    font-family: 'Courier New', Courier, monospace;
}
</style>
<!-- -----------------------------------------------------------------------------
    HTML
------------------------------------------------------------------------------- -->
<div style="background-color: aliceblue; padding: 10px; border-bottom: 1px solid gray;">
    <h5 style="display: inline;">  Create/Edit Workflows  ( NEW Experimental !!! ) <i class="fa fa-flask"></i>
    </h5>
    &nbsp;&nbsp;&nbsp;<button class="btn btn-danger btn-sm" style="" onclick="runWF()"  > RUN THIS WORKFLOW</button> 
</div>
<div class="row" style ="width: 100%; height: 90%; padding: 0px;margin: auto;" >
    <div class="col-md-9">
        <div id=graph>
        </div>
    </div>

    <div class="col-md-3" style="height: 100%; overflow: auto;background-color:gainsboro; text-align: center;"> 
        <button class="btn btn-primary"  onclick="_graph.zoomIn()"    ><i class="fa fa-search-plus"></i></button>
        <button class="btn btn-success"  onclick="_graph.zoomOut()"   ><i class="fa fa-search-minus"></i></button>
        <button class="btn btn-success"  onclick="_graph.fit();"      ><i class="fa fa-eye"></i></button> 
        <button class="btn btn-danger"  onclick="graph.zoomActual()" ><i class="fa fa-eye"></i></button> 
        <hr/>
        <div id="toolbar" class="tbdiv"></div>
        <b>Set Workflow Process </b><br/>
        <div id="mxcell_config" class="editDiv" style="min-height:280px" contentEditable>
            #Ex: <br/>/bin/runModel -ls<br/>#--------------<br/>
        </div>
        <button class="btn btn-primary btn-sm"  onclick=""  >Update Item</button> 
        <br/>
        <br/>
        <hr/>
    </div>
</div>
<div id="status" class="base" align="right" style="white-space:nowrap;background-color: aliceblue; border: 1px solid black;">
    <!-- Status Here -->
</div>

<!-- -----------------------------------------------------------------------------
    SCRIPT

 * This assumes you have a service working
------------------------------------------------------------------------------- -->
<script>
var _model     = new mxGraphModel();
var _container = null
var _graph     = null
var graph      = null
var _parent    = null
/**
 * Creates and returns an empty graph inside the given container.
 */
function createGraph(id="graph", editor=null){
    if (!mxClient.isBrowserSupported())
    {
            // Displays an error message if the browser is not supported.
            mxUtils.error('Browser is not supported!', 200, false);
    }
    _model     = new mxGraphModel();
    _container = document.getElementById(id, 6,6);
    if (editor) {
        console.log("EDITOR ....")
        //_graph     = editor.graph
        _graph     = new mxGraph(_container, _model);
        _graph.editor = editor; //.graph._container = _graph
    } else {
        _graph     = new mxGraph(_container, _model);

    }
    graph      = _graph
    _parent    = _graph.getDefaultParent();

    _graph.dropEnabled = true;      // Enables new connections in the graph
    _graph.setConnectable(true);
    _graph.setMultigraph(true);
    mxConnectionHandler.prototype.connectImage = new mxImage('/static/imgs/add.png', 8,8);
    mxConstants.DEFAULT_HOTSPOT = 1;
    mxConstants.HIGHLIGHT_COLOR = null;

    mxGraph.prototype.htmlLabels = true;
    mxGraph.prototype.isWrapping = function(cell) { return true; };
    mxGraphHandler.prototype.guidesEnabled = true;
    mxGuide.prototype.isEnabledForEvent = function(evt) { return !mxEvent.isAltDown(evt);    };

    // Enables snapping waypoints to terminals
    mxEdgeHandler.prototype.snapToTerminals = true;
    mxConnectionHandler.prototype.waypointsEnabled = true

    _graph.alternateEdgeStyle = 'elbow=vertical';

    var style = graph.getStylesheet().getDefaultVertexStyle();
    style[mxConstants.STYLE_FONTSIZE]      = 14;
    style[mxConstants.STYLE_FONTCOLOR]     = 'black';
    style[mxConstants.STYLE_STROKECOLOR]   = '#808080'
    style[mxConstants.STYLE_FILLCOLOR]     = '#fff'
    style[mxConstants.STYLE_GRADIENTCOLOR] = 'white';
    style[mxConstants.STYLE_SHADOW]        = true;
    style[mxConstants.STYLE_FONTSTYLE]     = 1;
    style[mxConstants.STYLE_ROUNDED]       = true;
    style[mxConstants.STYLE_EDGE]          = mxEdgeStyle.ElbowConnector;
    style[mxConstants.STYLE_]              = mxEdgeStyle.ElbowConnector;
    style[mxConstants.STYLE_STROKEWIDTH]   = 1
    style[mxConstants.STYLE_GRADIENT_DIRECTION] = mxConstants.DIRECTION_EAST;


    var style = graph.getStylesheet().getDefaultEdgeStyle();
    style[mxConstants.STYLE_ROUNDED]     = true;
    style[mxConstants.STYLE_EDGE]        = mxEdgeStyle.ElbowConnector;
    style[mxConstants.STYLE_STROKECOLOR] = '#808080'
    style[mxConstants.STYLE_STROKEWIDTH] = 1


    style = [];
    style[mxConstants.STYLE_SHAPE] = mxConstants.SHAPE_SWIMLANE;
    style[mxConstants.STYLE_PERIMETER] = mxPerimeter.RectanglePerimeter;
    style[mxConstants.STYLE_STROKECOLOR] = '#a0a0a0';
    style[mxConstants.STYLE_FONTCOLOR] = '#606060';
    style[mxConstants.STYLE_FILLCOLOR] = '#E0E0DF';
    style[mxConstants.STYLE_GRADIENTCOLOR] = 'white';
    style[mxConstants.STYLE_STARTSIZE] = 30;
    style[mxConstants.STYLE_ROUNDED] = false;
    style[mxConstants.STYLE_FONTSIZE] = 12;
    style[mxConstants.STYLE_FONTSTYLE] = 0;
    style[mxConstants.STYLE_HORIZONTAL] = false;
    // To improve text quality for vertical labels in some old IE versions...
    style[mxConstants.STYLE_LABEL_BACKGROUNDCOLOR] = '#efefef';
    graph.getStylesheet().putCellStyle('swimlane', style);

    style = [];
    style[mxConstants.STYLE_SHAPE] = mxConstants.SHAPE_RHOMBUS;
    style[mxConstants.STYLE_PERIMETER] = mxPerimeter.RhombusPerimeter;
    style[mxConstants.STYLE_STROKECOLOR] = '#91BCC0';
    style[mxConstants.STYLE_FONTCOLOR] = 'gray';
    style[mxConstants.STYLE_FILLCOLOR] = '#91BCC0';
    style[mxConstants.STYLE_GRADIENTCOLOR] = 'white';
    style[mxConstants.STYLE_ALIGN] = mxConstants.ALIGN_CENTER;
    style[mxConstants.STYLE_VERTICAL_ALIGN] = mxConstants.ALIGN_MIDDLE;
    style[mxConstants.STYLE_FONTSIZE] = 16;
    graph.getStylesheet().putCellStyle('step', style);
    
    style = [];
    style[mxConstants.STYLE_SHAPE] = mxConstants.SHAPE_ELLIPSE;
    style[mxConstants.STYLE_PERIMETER] = mxPerimeter.EllipsePerimeter;
    style[mxConstants.STYLE_FONTCOLOR] = 'gray';
    style[mxConstants.STYLE_FILLCOLOR] = '#A0C88F';
    style[mxConstants.STYLE_GRADIENTCOLOR] = 'white';
    style[mxConstants.STYLE_STROKECOLOR] = '#A0C88F';
    style[mxConstants.STYLE_ALIGN] = mxConstants.ALIGN_CENTER;
    style[mxConstants.STYLE_VERTICAL_ALIGN] = mxConstants.ALIGN_MIDDLE;
    style[mxConstants.STYLE_FONTSIZE] = 16;
    graph.getStylesheet().putCellStyle('start', style);
    
    style = mxUtils.clone(style);
    style[mxConstants.STYLE_FILLCOLOR] = '#DACCBC';
    style[mxConstants.STYLE_STROKECOLOR] = '#AF7F73';
    graph.getStylesheet().putCellStyle('end', style);

    graph.setTooltips(true);
    graph.setEnabled(true);
    
    // Disables folding
    graph.isCellFoldable = function(cell, collapse)
    {
        return false;
    };

    _graph.setPanning(true);
    mxEvent.disableContextMenu(_container, true);
    window.onbeforeunload = function() { return mxResources.get('changesLost'); };
    mxObjectCodec.allowEval = false;

    graph.createPanningManager = function() {
        var pm = new mxPanningManager(this);
        pm.border = 30;
        
        return pm;
    };
    
    graph.allowAutoPanning = true;
    graph.timerAutoScroll = true;

    return graph;
};

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
var _overlay_run = new mxCellOverlay(new mxImage('/static/imgs/gear.gif', 24, 24),'?');
var _overlay_end = new mxCellOverlay(new mxImage('/static/imgs/check.png', 24, 24),'?');
var _overlay_err = new mxCellOverlay(new mxImage('/static/imgs/error.png', 24, 24),'?');

function createOverlay(state){
    var html = (state.startsWith("r")) ? "<h1>R<h1>": "FINI";

    var overlay = new mxCellOverlay(_overlay, state);

    // overlay.addListener(mxEvent.CLICK, function(sender, evt){
    //     mxUtils.alert(tooltip + '\nLast update: ' + new Date());
    // });    
    return overlay;
};

function setCellState(cell=null, id=null, state="running") {
    cell = (!cell) ? _model.getCell(id): cell
    if (!cell ) {
        console.log("Cell not found: ", id)
        return
    }
    if ( !cell.vertex) {
        //console.log("Cell not vertex: ", cell)
        return
    }

    var s = state[0].toLowerCase()
    console.log("Cell State: ", s)
    switch (s) {
        case "r": //Running
            graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#f8cecc', [cell]);
            graph.removeCellOverlays(cell);
            graph.addCellOverlay(cell, _overlay_run);
            break
        case "w": //waiting
            graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#fff2cc', [cell]);
            graph.removeCellOverlays(cell);
            graph.addCellOverlay(cell, _overlay_err);
            break
        case "c": // Completed
            graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#d4e1f5', [cell]);
            graph.removeCellOverlays(cell);
            graph.addCellOverlay(cell, _overlay_end);
            break
        default:
            graph.setCellStyles(mxConstants.STYLE_FILLCOLOR, '#fff', [cell]);
            break
    }
}
function runWF() {
    var i = 0
    for (var c in _graph.model.cells) {
        var c1 = _graph.model.cells[c]
        console.log("Running ", c1)
        setTimeout(setCellState, i*2000, c1)
        setTimeout(setCellState, i*4000, c1, null, (i%2 ==0) ? "completed": "w")
        i++
    }
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function start() {
    var vertexStyle = _graph.getStylesheet().getDefaultVertexStyle();
    vertexStyle[mxConstants.ROUNDED] = true;
    _model.beginUpdate();
    try
    {
        var v1 = _graph.insertVertex(_parent, null, "Start", 20, 20, 80, 40)
        var v2 = _graph.insertVertex(_parent, null, 'Process Data!', 170, 200, 120, 40);
        var v3 = _graph.insertVertex(_parent, null, 'Build Model!', 400, 20, 120, 40);
        var v4 = _graph.insertVertex(_parent, null, 'Send Email!', 550, 200, 120, 40);
        var e1 = _graph.insertEdge(_parent, null, '', v1, v2);
        var e1 = _graph.insertEdge(_parent, null, '', v3, v4);
        var e1 = _graph.insertEdge(_parent, null, '', v1, v4);
    }
    finally{
        _model.endUpdate();
    }
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
var editor = null;
function cellSelectMousehandler(obj,evt){
    //console.log("??", obj, evt)
    evt.consume()
    if ( !obj || evt.name !== "change" || !obj.cells || obj.cells.length <=0 || obj.cells.length > 1) {
        return 
    }
    var c = obj.cells[0]
    console.log("CONSUMING ", c.value)

    $('#mxcell_config').html(`#${c.value}<br/>#-----------<br/><br/>`)
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
$(document).ready(function() {
    if (!mxClient.isBrowserSupported()) {
        mxUtils.error('Browser is not supported!', 200, false);
    } else {
        //var editor = init()
        //editor = createGraph("graph", editor)
        createGraph()
        start()
        toolbar()
        graph.getSelectionModel().addListener(mxEvent.CHANGE, cellSelectMousehandler)

    }
})
</script>


<script>
var keyHandler
function addKeyHandler(graph) {
    // Stops editing on enter or escape keypress
    keyHandler = new mxKeyHandler(graph);

    keyHandler.bindKey(46, (a,b,c)=>{ 
        console.log(a,b,c)
        graph.removeCells();
        return false
    
    });

    mxEvent.addMouseWheelListener(function (evt, up){
        if (!mxEvent.isConsumed(evt))  {
            (up) ? _graph.zoomIn() : _graph.zoomOut()
            //mxEvent.consume(evt);
        }
    });

}

function toolbar(){
    var tbContainer = document.getElementById('toolbar');
    if (!tbContainer) {
        return
    }
    var toolbar = new mxToolbar(tbContainer);
    toolbar.enabled = false;
        
    // Matches DnD inside the graph
    mxDragSource.prototype.getDropTarget = function(graph, x, y) {
        var cell = graph.getCellAt(x, y);
        
        if (!graph.isValidDropTarget(cell)) {
            cell = null;
        }
        return cell;
    };

    var rubberband = new mxRubberband(_graph);
    addKeyHandler(graph)

    var addVertex = function(icon, w, h, style) {
        var vertex = new mxCell(null, new mxGeometry(0, 0, w, h), style);
        vertex.setVertex(true);
    
        addToolbarItem(_graph, toolbar, vertex, icon);
    };
        
    addVertex('/static/mxgraph-js/javascript/examples/editors/images/swimlane.gif',  120, 160, 'shape=swimlane;startSize=40;');
    addVertex('/static/mxgraph-js/javascript/examples/editors/images/rectangle.gif', 100, 40, '');
    addVertex('/static/mxgraph-js/javascript/examples/editors/images/rounded.gif',   100, 40, 'shape=rounded');
    addVertex('/static/mxgraph-js/javascript/examples/editors/images/ellipse.gif',   40,  40, 'shape=ellipse');
    addVertex('/static/mxgraph-js/javascript/examples/editors/images/rhombus.gif',   40,  40, 'shape=rhombus');
    addVertex('/static/mxgraph-js/javascript/examples/editors/images/triangle.gif',  40,  40, 'shape=triangle');
    addVertex('/static/mxgraph-js/javascript/examples/editors/images/cylinder.gif',  40,  40, 'shape=cylinder');
    addVertex('/static/mxgraph-js/javascript/examples/editors/images/actor.gif',     30,  40, 'shape=actor');
}


// Function that is executed when the image is dropped on
// the graph. The cell argument points to the cell under
// the mousepointer if there is one.
function addToolbarItem(graph, toolbar, prototype, image) {
    var funct = function(graph, evt, cell) {
        graph.stopEditing(false);

        var pt = graph.getPointForEvent(evt);
        var vertex = graph.getModel().cloneCell(prototype);
        vertex.geometry.x = pt.x;
        vertex.geometry.y = pt.y;
        
        graph.setSelectionCells(graph.importCells([vertex], 0, 0, cell));
        console.log("Adding...")
    }
    // Creates the image which is used as the drag icon (preview)
    var img = toolbar.addMode(null, image, funct, image, "toolbarimg");
    mxUtils.makeDraggable(img, graph, funct);
}
</script>


{% endblock %}
